.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  height: 70vh;
  overflow: auto;
  padding: 20px 0;
}

.persons-container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  // border: 2px solid black;

  .persons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .person {
      padding: 10px;
      margin: 5px 0;
      background: #282c34;
      border-radius: 50px;
      color: white;

      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        background: transparent;
        color: white;
        text-align: center;
        font-size: inherit;
        border: none;
        border-bottom: 2px solid #ccc;
        border-radius: 5px;
        width: 60%
      }

      &>* {
        width: 20%;
      }

      .person-info {
        width: 60%;

        .person-name {
          font-size: 1.4rem;
        }
        .person-age {
          font-size: 0.9rem;
        }
      }

      .person-actions {
        svg { 
          margin: 5px; 

          &:hover {
            color: rgb(88, 88, 185);
          }
        }
      }
    }


  }

  .person-add {

    display: flex;

    input, button {
      padding: 10px;
      border-radius: 15px;
      background: #282c34;
      color: white;      
    }

    input {
      &::placeholder { 
        text-align: center; 
        font-size: 1.2rem;
      }
    }

    button {
    }

    input {
      flex-grow: 1;
    }
  }
}

.person-search {
  margin-bottom: 10px;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    background: #282c34;
    color: white;
    text-align: center;
    &::placeholder { 
      font-size: 1.2rem;
      text-align: center; 
    }
  }

}

footer {
  height: 10vh;
  display: grid;
  place-items: center;
}